.is-cornerless {
  overflow: hidden;
  border-radius: 50%;
}

$corner-size: 0.5vmax;
$other-message-color: white;
$other-accent: rgba(208, 208, 208, 1);
$self-message-color: rgba(239, 253, 222, 1);
$self-accent: rgba(133, 211, 121, 1);
$message-padding: 15px;

$other-corner-margin: $corner-size * 2;

.message {
  padding: 10px;
  background-color: transparent;
  display: flex;
  font-size: 12pt;
}
.message + .message {
  border-top: none;
}
.message .body {
  background-color: $other-message-color;
  padding: $message-padding;
  min-height: 80px;
  max-width: 500px;
}
.message.other .avatar {
  margin-right: ($corner-size * 2);
}
.message.other .body:before {
  content: "";
  border: $corner-size solid;
  border-color: $other-message-color $other-message-color transparent transparent;
  position: absolute;
  margin-left: calc(-#{$other-corner-margin} - #{$message-padding});
  margin-top: -($message-padding);
}
.message.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.message.self .body{
  order:1;
  background-color: $self-message-color;
}
.message.self:after {
  order: 2;
  content: "";
  border: ($corner-size) solid;
  border-color: transparent transparent $self-message-color $self-message-color;
}
.message.self .avatar{
  order:3;
}
.message.self .media-left{
  margin-right: 0px;
}
.username{
  font-size: 1.25em;
}

.timestamp{
  float: right;
}

.self .timestamp{
  color: $self-accent;
}

.other .timestamp{
  color: $other-accent;
}

#send.send-button {
  height: 100%;
  border-left: 1px lightgray solid;
  z-index: 5;
}