<template>
    <div>
        <div class="msg-container">
            <message v-for="message in messages" :message="message" :key="message.id"></message>
        </div>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <textarea v-model="msg_text" class="input textarea" style="resize:none"></textarea>
            </p>
            <p class="control">
                <a class="button is-info" v-on:click="send">
                    Send
                </a>
            </p>
        </div>
    </div>
</template>

<script>
    import Message from './Message.vue'
    export default {
        name: 'chat',
        data() {
            return {
                messages: [],
                msg_text: ""
            }
        },
        methods: {
            send: function (event) {
                var chat = this;
                axios.post('/api/v1/messaging/send', {
                    cid:1,
                    text: chat.msg_text
                })
                .then(function(response){
                    chat.messages.push(response.data);
                });
            }
        },
        components:{
            Message
        },
        mounted() {
            var chat = this;
            axios.get('/api/v1/messaging/load', {
                params: {
                    cid:1
                }
            })
                .then(function(response){
                    chat.messages = response.data;
                });
        }
    }
</script>
