<template>
    <div class="message media" :class="[isSelf ? 'self' : 'other']">
        <div class="media-left avatar">
            <figure class="image is-64x64 is-cornerless">
                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
        </div>
        <div class="media-content body">
            <div class="content">
                <span class="username">{{message.user.email}}</span>
                <p>{{message.text}}</p>
                <small class="timestamp">{{message.created_at}}</small>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'message',
        props: {
            message: {
                required: false,
                default: {
                    created_at: new Date(),
                    text: "",
                    user: {
                        id: 0,
                        username: "",
                        avatar: "http://bulma.io/images/placeholders/128x128.png"
                    }
                }
            }
        },
        data(){
            return {
                isSelf: (window.User.id == this.message.user.id ? true : false)
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
